*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

body{
    height: 92%;
    width: 95%;
    margin: 20px 20px;
    border: 2px black solid;


}

.container{
    padding: 0.4%;
    display: grid;  
    grid-template-columns: 300px 600px; 
    grid-template-rows: 200px 200px; 
    gap: 10px 10px; 
    grid-template-areas: 
      ". ."
      ". ."; 
}


.weather-dash{
    display: flex;
    justify-content: space-around;
    color:aliceblue;
    background: rgb(102,75,208);
    background: linear-gradient(90deg, rgb(101, 109, 219) 0%, rgb(43, 25, 95) 100%);
    height: 50px;
    width: 99.2%;
    margin: 3px 3px 3px 5px;
    grid-column: 1;
    grid-row: 1;
}

.search{
    padding: 0.3rem;
    line-height: 45px;
    grid-column: 1;
    grid-row: 1;
    font-size: larger;
}

.search-bar{
    width: 100%;
    height: 35px;
    padding: 6px;
}

.line{
    width: 100%;
    border-bottom: 2px solid #9b9fa3;

    
}

button {
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    padding: 0.8rem;
    border: 1px solid transparent;
    outline: none;
    color: #fbfcfce3;
    background-color: #5281d7db;
    height: 25px;
    width: 100%;
  }

.weather-display{
    border: solid 1px black;
    grid-column: 2;
    grid-row: 1;
}

.forecast5 {
    grid-column: 2;
    grid-row: 2;
    font-size: larger;

}
#day {
    display: flex;
    flex-direction: column;
    border: 2px solid pink;
}

#city {
    width: 100px;
    height: 100px;
    border: salmon 5px solid;
}

